.sliderContainer {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  top: 75vh;
  z-index: 5;
  background-color: white;
  overflow: hidden;
}

.enFont{
  font-family: "Lato", sans-serif;
}
.hebFont{
  font-family: "Arimo", sans-serif;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: grab;
  width: 100%;
  position: absolute;
}

.slides {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  min-width: 33vw;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 15px; // Добавьте горизонтальные отступы между слайдами
}

.sliderWrapper:active {
  cursor: grabbing;
}

@media screen and (max-width: 768px) {
  .slide {
    min-width: 85.3vw;
  }
  .sliderContainer {
    top: 60vh;
  }
}
