.bigContainer {
  width: 100%;
  height: 2000vh;
}
.mainHome {
  position: relative;
}
.stickyBlock {
  position: sticky;
  top: 0;
  user-select: none;
}

.titleBlock {
  width: 100%;
  top: 0vh;
}
.title {
  width: 83.33%;
  font-size: 8.6vw;
  font-weight: 400;
  z-index: 3;
  position: relative;
  margin-top: 9vw;
  margin-left: 5.9vw;
  color: #363b61;
}
.descriptionBlock {
  display: flex;
  flex-direction: column;
  gap: 1.1vh;
  width: 50vw;
  margin-left: 35vw;
  margin-top: 20vw;
  position: relative;
  z-index: 3;
}
.subtitle {
  font-size: 3vw;
  color: #363b61;
  z-index: 4;
  position: relative;
}
.text {
  font-size: 1.3vw;
  color: #434a53;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  z-index: 4;
  position: relative;
}
.advantages {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  padding: 10px;
  margin-top: 4vw;
  width: 100vw;
  scroll-snap-type: x mandatory;
  box-sizing: border-box;
}

.writtenAboutUs {
  display: flex;
  gap: 18.5vw;
  background-color: rgba(245, 247, 250, 1);
  width: 81.4vw;
  height: 60.6vh;
  padding: 19.7vh 9.3vw;
  top: 0vh;
  left: 0vw;
  z-index: 3;
  .blockName {
    color: rgba(67, 74, 83, 1);
    font-size: 1.4vw;
  }
  .blockTitle {
    color: #363b61;
    font-size: 3.3vw;
    font-weight: 400;
    position: relative;
    z-index: 4;
    margin-bottom: 2vh;
  }
}

.bgImage {
  position: absolute;
  top: -10vh;

  img {
    width: 85vw;
    height: 85vh;
  }
}

.textTitle {
  font-size: 1.3vw;
  color: #434a53;
  font-family: "Lato";
  font-weight: 100;
  margin-left: 5.9vw;
  margin-top: 0.7vw;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 2.3vh;
  margin-left: 5.6vw;
  margin-top: 2vw;
  background-color: #f77f1e;
  border-radius: 4.4vw;
  padding: 1.5vw 1.2vw;
  cursor: pointer;
}

.buttonText {
  font-size: 1.3vw;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 100;
}

//fkkfkfkfkfkf
